@page "/buyticket"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Ready2Ride.Shared;
@attribute [Authorize]
@inject HttpClient Http
@inject NavigationManager NavigationManager

<h1>Bus Ticket Schedule</h1>

<EditForm Model="@ticket" OnValidSubmit="ScheduleTicket">
    

    <div class="mb-3">
        <label for="UserName">UserName:</label>
        <div class="mb-3">
            <input type="text" class="form-control" @bind-value="ticket.UserName">
        </div>

    </div>
    <div class="mb-3">
        <label for="Email">Email:</label>
        <div class="mb-3">
            <input type="email" class="form-control" @bind-value="ticket.Email">
        </div>

    </div>

    <div class="mb-3">
        <label for="BusName">Bus name:</label>
        <div class="mb-3">
            <input type="text" class="form-control" @bind-value="ticket.BusName">
        </div>

    </div>

    <div class="mb-3">
        <label for="Date">Date:</label>
        <div class="mb-3">
            <input type="date" class="form-control" @bind-value="ticket.ScheduleDate">
        </div>

    </div>
    <input type="submit" value="Schedule Ticket">

</EditForm>

@code {
    protected TicketDto ticket = new TicketDto();
    async Task ScheduleTicket()
    {
        var response = await Http.PostAsJsonAsync("api/Ticket/AddTicket", ticket);
    }
}
