@page "/"

<PageTitle>Index</PageTitle>


    <div id='calendar'>

        testing calander
    <select id="busList">
        <option value="BRTC">BRTC</option>
        <option value="IKBAL">IKBAL</option>
        <option value="BUS3">BUS3</option>
        <option value="BUS4">BUS4</option>
        <option value="BUS5">BUS5</option>
    </select>


    </div>


