@page "/"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Http
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Ready2Ride.Shared;
@using System.Text.Json;

@inject AuthenticationStateProvider AuthenticationStateProvider


@attribute [Authorize]
@inject HttpClient Http
@inject HttpClient Context

<AuthorizeView>
    <Authorized>
        <h1>Welcome @context.User.Identity.Name</h1>
        
        <p>Your User Type is: @userType</p>
    </Authorized>
    <NotAuthorized>
        <span>Please Register to see the dashboard</span>
    </NotAuthorized>
</AuthorizeView>
@code {

  //Attempt: tried to get the UserType data from asp.net.user table. 
 // based on that the pages could have been restricted

    private string userType ;



    protected override async Task OnInitializedAsync()
    {


        try
        {
            var response = await Http.GetFromJsonAsync<string>("api/UserManagement/userType");
            userType = response;
        }
        catch (Exception)
        {
            userType = "Error Occured";
        }
    }



}